/* Based on 100 https://www.swyx.io/css-100-bytes/  */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

html {
  max-width: 70ch;
  padding: 2em 1em;
  margin: auto;
  line-height: 1.75;
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
  color: #1d1d1d;
  background-color: #fafafa;
 }

h1,h2,h3,h4,h5,h6 {
  font-family: 'Merriweather', serif;
}

p,ul,ol {
  margin: .5em;
  font-family: sans-serif;
}

select, input[type="submit"] {
  border-radius: 5px;
  background-color: #11468F;
  color: white;
  font-size: 1em;
}

input {
  border-radius: 5px;
  width: 200px;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

textarea {
  border-radius: 5px;
  width: 200px;
  height: 6ch;
}
